.centre {
	text-align: center;
	display: inline-block;
	margin: none;
	width: 100%;
}

.box-outline {
	text-align: center;
	display: inline-block;
	padding: 1% 2.7% 1% 2.7%;
	margin-left: 1.5%;
	margin-right: 1.5%;
	margin-top: 2%;
}

.button-refresh {
  /* background-color: #fff2ef; */
  /* border: 1px solid #ffe0d9; */
  background-color: #fff1ed;
  border: 2px solid #422800;
  border-radius: 20px;
  box-shadow: #422800 4px 4px 0 0;
  color: #422800;
  cursor: pointer;
  display: inline-block;
  box-sizing: border-box;
  font-family: Times New Roman;
  font-size: 18px;
  padding: 15px 25px 15px 25px;
  margin: 2px 2px 2px 2px;
}
.button-refresh:hover {
	background-color: #ffe0d9;
}
.button-refresh:active {
	box-shadow: #422800 2px 2px 0 0;
	transform: translate(2.5px, 2.5px);
  }

h1 {
	font-family: Times New Roman;
	font-size: 36px;
	color: rgb(82, 58, 43);
}

h2 {
	font-family: Times New Roman;
	font-size: 18px;
	padding-left: 4px;
	padding-right: 4px;
	color: rgb(82, 58, 43);
}